@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsSemibold";
    src: url("fonts/Poppins-Semibold.ttf");
}

*{
    font-family: "Poppins";
    font-size: 14px;
}

.navcolor{
    color: rgb(121, 121, 121);
    font-family: "PoppinsSemibold";
}

.redcolor{
    color: #F58585;
}

.blackcolor{
    color: #414141;
}

.fontsizeicon{
    font-size: 22px;
}

.btnred{
    background-color: #F58585;
    color: white;
}

.redbtnhover:hover{
    border-color: #414141;
}

.btnblack{
    background-color: #414141;
    color: white;
}

.blackbtnhover:hover{
    border-color: #414141;
}
