@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsSemibold";
    src: url("fonts/Poppins-Semibold.ttf");
}

*{
    font-family: "PoppinsSemibold";
    font-size: 14px;
}

.redcolor{
    color: white;
    transition: 0.5s;
}

.redcolor:hover{
    color: rgb(219, 65, 65);
}

