html {
    cursor: cell;
}

body {
    margin: 0;
}

.menubackground {

    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(66, 66, 66, 0.3), rgba(73, 73, 73, 0.267)), url(resources/background2.gif);
    position: absolute;
    background-size: cover;
}


.gamestart {
    display: none;
}

.gamebackground {

    width: 100%;
    height: 100vh;
    position: absolute;

}

.gamebackgroundmove {

    width: 100%;
    height: 100vh;
    position: absolute;

}

.ninja {

    position: absolute;
    width: 80px;
    margin-top: 419px;
    margin-left: 140px;
    
}

.startninja {

    position: absolute;
    margin-top: 90px;
    margin-left: 170px;
}

.startmenuname {

    position: absolute;
    margin-top: 160px;
    margin-left: 600px;
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    filter: drop-shadow(7px 7px 9px #1f1f1f);
}

.gamestartenter {
    
    position: absolute;
    margin-top: 320px;
    margin-left: 700px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    animation: blink 1.5s linear infinite;
    filter: drop-shadow(7px 7px 7px #1f1f1f);

}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.gamestartenter:hover {

    cursor: grab;
    animation: none;
}












@media(max-width: 573px) {
    .startninja {
        width: 100px;
        margin-top: 50px;
        margin-left: 100px;
    }

    .startmenuname {
        margin-top: 70px;
        margin-left: 250px;
        font-size: 35px;
        color: rgb(255, 255, 255);
        font-family: 'Press Start 2P', cursive;
        filter: drop-shadow(7px 7px 6px #1f1f1f);
    }
    
    .gamestartenter {
    
        position: absolute;
        margin-top: 150px;
        margin-left: 270px;
        font-size: 10px;
        color: rgb(255, 255, 255);
        font-family: 'Press Start 2P', cursive;
        animation: blink 1.5s linear infinite;
        filter: drop-shadow(7px 7px 4px #1f1f1f);
    }

    .ninja {

        position: absolute;
        width: 35px;
        margin-top: 190px;
        margin-left: 70px;
        
    }
}


@media(max-width: 479px) {
    .startninja {
        width: 90px;
        margin-top: 45px;
        margin-left: 90px;
    }

    .startmenuname {
        margin-top: 70px;
        margin-left: 220px;
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-family: 'Press Start 2P', cursive;
        filter: drop-shadow(7px 7px 6px #1f1f1f);
    }
    
    .gamestartenter {
    
        position: absolute;
        margin-top: 125px;
        margin-left: 230px;
        font-size: 9px;
        color: rgb(255, 255, 255);
        font-family: 'Press Start 2P', cursive;
        animation: blink 1.5s linear infinite;
        filter: drop-shadow(7px 7px 4px #1f1f1f);
    }

    .ninja {

        position: absolute;
        width: 35px;
        margin-top: 141px;
        margin-left: 70px;
        
    }
}


@media(max-width: 450px) {
    .ninja {

    position: absolute;
    width: 35px;
    margin-top: 141px;
    margin-left: 70px;
    }
}