body{
    background-color: #121212;
    color: #F2F3F5;
    font-size: 14px;
    margin: opx;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Mon/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Mon/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(fonts/Mon/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(fonts/Mon/Montserrat-ExtraLight.ttf);
}

*{
    font-family: "Montserrat-Regular";
}

.bold{
    font-family: "Montserrat-Bold";
}

.banner{
    background-image: linear-gradient(180deg, rgba(18,18,18,0.8335749299719888) 0%, rgba(18,18,18,0.8675805322128851) 24%, rgba(18,18,18,1) 100%), url(resources/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

@media (min-width: 1300px) {

    .banner h1 {
    margin: auto;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 5s steps(41),
        cursor .4s step-end infinite alternate;
    }

}

.banner p{
    animation: fade 5s;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%;}
}

@keyframes fade {
    from { opacity: 0 }
    to { opacity: 100%;}
}

.serviceCard{
    background-color: #191919;
    color: #F2F3F5;
    border-radius: 25px;
    z-index: -2;
}

.cardimg1{
    color: #00B0F0;
}

.cardimg2{
    color: #FF9521;
}

.cardimg3{
    color: #539d13;
}

.cardimg4{
    color: #FA400F;
}

.form1{
    background-color: #222222;
    border-color: #1a1a1a;
    color: #F2F3F5;
}

.reveal {
    position: relative;
    transform: translateY(110px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.serviceCard::before{
    content: "";
    width: 60%;
    position: absolute;
    margin-left: 20%;
    height: 0%;
    background-color: #1f1f1f;
    z-index: -1;
    top: 0;
    border-radius: 100px 100px 300px 300px;
    transition: 0.8s;
}


.serviceCard:hover::before{
    height: 100%;
    width: 100%;
    margin-left: 0%;
    border-radius: 25px 25px 25px 25px;
}
