body{
    background-color: #121212;
    color: #F2F3F5;
    font-size: 14px;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Mon/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Mon/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(fonts/Mon/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(fonts/Mon/Montserrat-ExtraLight.ttf);
}

*{
    font-family: "Montserrat-Regular";
}

.bold{
    font-family: "Montserrat-Bold";
}

.banner{
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.feature{
    background-color: #1a1a1a;
}

.serviceCard{
    background-color: #222222;
    color: #F2F3F5;
    border-radius: 25px;
}

.cardimg1{
    color: #00B0F0;
}

.cardimg2{
    color: #FF9521;
}

.cardimg3{
    color: #6ABB23;
}

.cardimg4{
    color: #FA400F;
}

.form1{
    background-color: #222222;
    border-color: #1a1a1a;
    color: #F2F3F5;
}